.section-skills {
  background-color: rgba($color-primary-light, 0.6);
  padding: 10rem 0 17rem 0;
  margin-top: 4rem;
  @include clip-full;

  -webkit-user-select: none;

  @include respond(tab-land) {
    margin-top: 3rem;
  }

  @include respond(tab-port) {
    margin-top: 2rem;
  }

  @include respond(phone) {
    padding: 10rem 0 16rem 0;
    margin-top: 1rem;
  }
}

.skill__box {
  width: 100%;
  height: auto;
  margin-top: 5rem;

  &-left {
    width: 85%;

    @include respond(tab-port) {
      width: 90%;
    }

    @include respond(phone) {
      width: 100%;
    }
  }

  &-right {
    width: 100%;

    @include respond(phone) {
      margin-top: 7rem;
    }
  }

  &-abilities {
    width: 100%;
  }

  &-tools {
    width: 100%;
  }
}

.abilities__box {

  &-item {
    width: 100%;
    height: 19rem;
    background-color: $color-white;
    border-radius: .8rem;
    padding: 3.5rem 2rem;
    text-align: center;
    box-shadow: 0px 29px 34px -18px rgba($color-primary, 0.15);
    margin-top: 3rem;

    @include flex-column_center;

    &:not(:last-child) {
      margin-right: 4rem !important;
    }

    @include respond(tab-land) {
      height: 17.5rem;
    }

    @include respond(phone) {
      height: 17rem;
    }

    &__image {
      // margin-bottom: 1.6rem;
      // color: $color-primary;

      // & .abilities-icon {
      //   width: 5rem;
      //   height: 5rem;

      //   fill: currentColor;
      // }

      span {
        font-size: 4rem;
        color: rgba($color-primary, 1);

        svg {
          @include skill-abilities_icon-shadow;
        }
      }
    }

    &__name {
      width: 80%;
      margin-top: 1rem;

      & .abilities-name {
        font-family: $heading-regular;
        font-size: 1.6rem;
        color: $color-primary-medium-dark;
        line-height: 2.2rem;

        @include respond(tab-land) {
          font-size: 1.5rem;
          line-height: 2.1rem;
        }

        @include respond(phone) {
          font-size: 1.4rem;
          line-height: 2rem;
        }
      }
    }
  }
}

.tools-box {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: inherit;

  &__item {
    width: 92%;
    height: auto;
    border-radius: .8rem;
    margin-top: 3rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    @include respond(tab-land) {
      width: 100%;
    }

    // &:hover {
    //   .tools-box__item-percentage {
    //     &_color-one,
    //     &_color-two,
    //     &_color-three,
    //     &_color-four {

    //       &::before {
    //         animation: animate-percentage-bar 1s;
    //       }
    //     }
    //   }
    // }

    &-image {
      margin-bottom: 1.4rem;

      img {
        height: 9rem;
        margin-left: -8px;

        @include respond(phone) {
          height: 10rem;
        }
      }
    }

    &-name {
      font-family: $heading-regular;
      font-size: 1.6rem;
      word-spacing: .25rem;
      letter-spacing: .02rem;
      color: $color-primary-medium-dark;

      @include respond(tab-land) {
        font-size: 1.3rem;
        line-height: 1.9rem;
        margin-bottom: 3px !important;
      }

      @include respond(phone) {
        font-size: 1.5rem;
        line-height: 1.9rem;
        margin-bottom: 3px !important;
      }
    }

    &-percentage {
      margin-top: 1rem;
      width: 100%;

      &_color-one,
      &_color-two,
      &_color-three,
      &_color-four {
        width: 100%;
        height: .5rem;
        background-color: $color-primary-medium;
        border-radius: 10rem;

        &::before {
          content: "";
          display: block;
          height: 100%;
          background-color: $color-primary;
          border-radius: 10rem;
          transition: .3s;
        }
      }

      &_color-one {

        &::before {
          @include percentage(one);
        }
      }

      &_color-two {

        &::before {
          @include percentage(two);
        }
      }

      &_color-three {

        &::before {
          @include percentage(three);
        }
      }

      &_color-four {

        &::before {
          @include percentage(four);
        }
      }

      &_text {
        font-size: 1rem;
        margin-top: .6rem;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &-own {
          color: $color-primary;
        }

        &-total {
          color: $color-primary-medium-dark;
        }
      }
    }
  }
}

.programing-lang {

  &__box {
    width: 100%;
    margin-top: 2rem;

    &-item {
      width: 100%;
      height: auto;
      background-color: $color-white;
      border-radius: .8rem;
      box-shadow: 0px 20px 40px -18px rgba($color-primary, 0.15);
      margin-top: 3rem;
      padding: 1.5rem 3.5rem;
      transition: all .3s;

      @include flex-row;
      justify-content: flex-start;
      align-items: center;

      @include respond(tab-port) {
        padding: 1.6rem 2.2rem;
      }

      @include respond(phone) {
        @include flex-column_center;
        padding: 3rem 1.5rem;
        text-align: center;
      }

      &:hover {

        @include respond(tab-land) {
          transform: none;
        }

        .html-icon_adjustment {
          // background-image: linear-gradient(to right, #e44d26 50%, #f16529 50%);
          // -webkit-background-clip: text;
          // color: transparent;

          color: #f16529;
        }

        .css-icon_adjustment {
          // background-image: linear-gradient(to right, #264de4 50%, #2965f1 50%);
          // -webkit-background-clip: text;
          // color: transparent;

          color: #2965f1;
        }

        .js-icon_adjustment {
          color: #f7df1e;
        }

        .sass-icon_adjustment {
          color: #cf649a;
        }

        .bootstrap-icon_adjustment {
          color: #a06eeb;
        }

        .php-icon_adjustment {
          color: #9ea4f0;
        }
      }

      &-icon-box {
        font-size: 5rem;
        color: $color-primary;
        transition: all .3s;

        @include flex-row_center;

        @include respond(tab-port) {
          font-size: 4.5rem;
        }

        @include respond(phone) {
          font-size: 4.8rem;
        }
      }

      .html-icon_adjustment {

        @include respond(tab-land) {
          // background-image: linear-gradient(to right, #e44d26 50%, #f16529 50%);
          // -webkit-background-clip: text;
          // -webkit-text-fill-color: transparent;

          color: #f16529;
        }
      }

      .css-icon_adjustment {

        @include respond(tab-land) {
          // background-image: linear-gradient(to right, #264de4 50%, #2965f1 50%);
          // -webkit-background-clip: text;
          // -webkit-text-fill-color: transparent;

          color: #2965f1;
        }
      }

      .js-icon_adjustment {
        @include respond(tab-land) {
          color: #f7df1e;
        }
      }

      .sass-icon_adjustment {
        @include respond(tab-land) {
          color: #cf649a;
        }
      }

      .bootstrap-icon_adjustment {
        @include respond(tab-land) {
          color: #a06eeb;
        }
      }

      .php-icon_adjustment {
        @include respond(tab-land) {
          color: #9ea4f0;
        }
      }

      &_text-box {
        margin-left: 2.4rem;

        @include flex-column;
        align-items: flex-start;

        @include respond(tab-port) {
          margin-left: 2.2rem;
        }

        @include respond(phone) {
          margin-left: 0;
          margin-top: 2.2rem;
          @include flex-column_center;
        }

        &_name {
          font-size: 1.8rem;
          color: $color-primary-medium-dark;
          margin-top: 4px;
          font-family: $para-medium;

          @include respond(tab-land) {
            font-size: 1.5rem;
            line-height: 1.8rem;
            margin-bottom: 4px !important;
          }

          @include respond(phone) {
            font-size: 1.5rem;
            margin: 0;
          }

          &-level {
            margin-bottom: 0;
            font-size: 1.3rem;
            color: $color-primary;

            @include respond(tab-port) {
              font-size: 1.2rem;
            }

            @include respond(phone) {
              font-size: 1rem;
              margin-top: 5px;
            }

            span {
              color: $color-primary-medium-dark;
              margin-left: 7px;

              @include respond(phone) {
                display: block;
                margin-top: 3px;
                margin-left: 0;
              }
            }
          }
        }
      }
    }
  }
}