@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
    transform: translateX(-10rem);
  }

  80% {
    -webkit-transform: translateX(1rem);
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
    transform: translateX(-10rem);
  }

  80% {
    -webkit-transform: translateX(1rem);
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
    transform: translateX(10rem);
  }

  80% {
    -webkit-transform: translateX(-1rem);
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
    transform: translateX(10rem);
  }

  80% {
    -webkit-transform: translateX(-1rem);
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

// @-webkit-keyframes moveInUp {
//   0% {
//     opacity: 0;
//     -webkit-transform: translateY(-7rem);
//     transform: translateY(-7rem);
//   }

//   100% {
//     opacity: 1;
//     -webkit-transform: translate(0);
//     transform: translate(0);
//   }
// }

// @keyframes moveInUp {
//   0% {
//     opacity: 0;
//     -webkit-transform: translateY(-7rem);
//     transform: translateY(-7rem);
//   }

//   100% {
//     opacity: 1;
//     -webkit-transform: translate(0);
//     transform: translate(0);
//   }
// }

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(7rem);
    transform: translateY(7rem);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(7rem);
    transform: translateY(7rem);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@-webkit-keyframes barAnimation {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translate(75px);
    transform: translate(75px);
  }
}


@-webkit-keyframes animate-percentage-bar {
  0% {
    opacity: 0;
    width: 0;
  }

  100% {
    opacity: 1;
    width: inherit;
  }
}