/* ============================================ */
/* ================ universal selector adjustment ================ */
/* ============================================ */

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

/* ============================================ */
/* ================ html font size adjustment ================ */
/* ============================================ */

html {
  scroll-behavior: smooth;
  // this defines what 1rem is
  font-size: 10px;

  @include respond(sm-phone) {
    // width < 375px
    font-size: 8px !important;
  }

  @include respond(phone) {
    // width < 600px
    font-size: 9px;
  }

  @include respond(tab-port) {
    // width < 900px
    font-size: 8px;
  }

  @include respond(tab-land) {
    // width < 1200px
    font-size: 9px;
  }

  @include respond(big-desktop) {
    // width < 1650px
    font-size: 12px;
  }
}

/* ============================================ */
/* ================ body customization ================ */
/* ============================================ */

body {
  box-sizing: border-box;
  background-color: $color-white !important;
}

/* ============================================ */
/* ================ section padding ================ */
/* ============================================ */

section {
  padding: 9rem 0;

  @include respond(tab-land) {
    padding: 6.5rem 0;
  }

  @include respond(tab-port) {
    padding: 5.5rem 0;
  }

  @include respond(phone) {
    padding: 6.5rem 12px;
  }
}

/* ============================================ */
/* ================ no gutters for row ================ */
/* ============================================ */

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.row.no-gutters>[class^="col-"],
.row.no-gutters>[class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

/* ============================================ */
/* ================ customize selection ================ */
/* ============================================ */

::selection {
  background-color: $color-primary;
  color: $color-white;
}