// Importing Fonts from local folder heading, button & special charecter

@font-face {
  font-family: Cera-Black;
  src: url(../fonts/cera-pro/Cera-Pro-Black.otf);
}

@font-face {
  font-family: Cera-Bold;
  src: url(../fonts/cera-pro/Cera-Pro-Bold.otf);
}

@font-face {
  font-family: Cera-Medium;
  src: url(../fonts/cera-pro/Cera-Pro-Medium.otf);
}

@font-face {
  font-family: Cera-Regular;
  src: url(../fonts/cera-pro/Cera-Pro-Regular.ttf);
}

@font-face {
  font-family: Cera-Regular-Italic;
  src: url(../fonts/cera-pro/Cera-Pro-Regular-Italic.otf);
}

@font-face {
  font-family: Cera-Light;
  src: url(../fonts/cera-pro/Cera-Pro-Light.otf);
}


// Importing Fonts from local folder for default

@font-face {
  font-family: Avenir-Medium;
  src: url(../fonts/avnir/AvenirLTStd-Medium.otf);
}

@font-face {
  font-family: Avenir-Book;
  src: url(../fonts/avnir/AvenirLTStd-Book.otf);
}

@font-face {
  font-family: Avenir-Roman;
  src: url(../fonts/avnir/AvenirLTStd-Roman.otf);
}
//  Starting body

body {
  font-family: $para-roman, sans-serif !important;
  font-weight: 200;
  letter-spacing: .04rem;
  font-size: 16px;
  line-height: 1.7;
  color: $color-grey-dark;
}

//  Starting Heading

.heading-primary {
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  margin-bottom: 6rem;

  &--main {
    display: block;
    color: $color-primary-medium-dark;
    font-family: $heading-medium;
    letter-spacing: -1.3px;
    font-size: 5.2rem;
    word-spacing: 5px;

    @include respond(big-desktop) {
      font-size: 4.5rem;
    }

    @include respond(tab-port) {
      font-size: 4.2rem;
    }

    @include respond(phone) {
      font-size: 3.8rem;
    }
  }
}

/* ------------------ Heading box only for secondary heading ------------------ */

.heading-secondary {
  font-family: $heading-bold;
  // background-image:  
  //   linear-gradient(to right bottom, $color-primary, $color-primary-light);
  font-size: 4.5rem;
  // -webkit-background-clip: text;
  letter-spacing: .05rem;
  display: inline-block;
  padding-bottom: 2rem;
  color: $color-primary-dark;
  text-shadow: 1px 3px 5px rgba($color-primary-dark, 0.1);
  transition: all .2s;

  @include respond(tab-port) {
    font-size: 3.8rem;
  }

  @include respond(phone) {
    width: 100%;
    font-size: 3.2rem;
    text-align: center;
    text-shadow: 0 2px 3px rgba($color-primary, 0.1);
    padding-bottom: 10px;
  }

  @include respond(sm-phone) {
    width: 75%;
  }

  // &:hover {
  //   background-image:  
  //   linear-gradient(to right bottom, $color-primary, $color-primary-supporting);
  //   -webkit-background-clip: text;
  //   color: transparent;
  //   text-shadow: 1px 3px 5px rgba($color-primary-medium, 0.5);
  //   transform: skewY(2deg) skewX(15deg) scale(1.1);


  //   @include respond(tab-port) {
  //     transform: none;
  //   }
  // }
}

.heading-tertiary {
  font-family: $heading-medium;
  font-size: 3.4rem;
  letter-spacing: 0.2px;
  color: $color-primary-dark;

  @include respond(phone) {
    line-height: 3.2rem;
  }
}

.paragraph {
  font-size: $default-font-size;
  color: $color-grey-dark-2;
  letter-spacing: .1px;
  line-height: 2.8rem;

  @include respond(tab-land) {
    line-height: 2.7rem;
  }

  @include respond(phone) {
    line-height: 2.9rem;
  }

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}

.heading-tertiary__skills {
  color: $color-primary-medium-dark;
  font-size: 2.4rem;
}


.heading-tertiary__about {
  color: $color-primary-medium-dark;
  font-size: 2.4rem;
  font-family: $heading-medium;
  line-height: 33px;
  -webkit-user-select: none;

  @include respond(tab-land) {
    font-size: 2.2rem;
    line-height: 27px;
  }
}
/* -------------- Heading box adjustment with animated bar -------------- */

.heading-box {
  width: 100%;
  text-align: center;

  @include flex-column_center;

  .animated-bar {
    content: '';
    display: block;
    height: 4px;
    left: 0;
    margin: 0 auto;
    position: relative;
    right: 0;
    width: 75px;
  
    background: rgba($color-primary, 1);

    @include respond(phone) {
      height: 3px;
    }
  
    &::after,
    &::before {
      -webkit-animation-duration: 1s;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-name: barAnimation;
      -webkit-animation-timing-function: linear;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-name: barAnimation;
      animation-timing-function: linear;
      background-color: $color-grey-light-1;
      content: '';
      height: 100%;
      position: absolute;
      top: 0;
      width: 4px;
    }

    &::after {
      left: 0px;
    }

    &::before {
      left: 8px;
    }
  }
}

.heading-para {
  @extend .paragraph;
  color: $color-primary-medium-dark;
  margin-top: 5rem;
  letter-spacing: .3px;

  @include respond(phone) {
    width: 85%;
    font-size: 1.4rem;
    margin-top: 3.5rem;
    line-height: 2.75rem !important;
  }
}
