
//  Starting body

body {
  font-family: $font-main, sans-serif !important;
  font-weight: 200;
  letter-spacing: .04rem;
  font-size: 16px;
  line-height: 1.7;
  color: $color-grey-dark;
}

//  Starting Heading

.heading {
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  margin-bottom: 6rem;

  &-main {
    display: block;
    color: $color-black;
    font-family: $font-main;
    letter-spacing: -1.3px;
    font-size: 5.2rem;
    word-spacing: 5px;

    @include respond(big-desktop) {
      font-size: 4.5rem;
    }

    @include respond(tab-port) {
      font-size: 4.2rem;
    }

    @include respond(phone) {
      font-size: 3.8rem;
    }

    span {
      color: $color-primary;
    }
  }
}

.paragraph {
  font-size: $d-font-size;
  color: $color-grey-dark-2;
  letter-spacing: .1px;
  line-height: 2.8rem;

  @include respond(tab-land) {
    line-height: 2.7rem;
  }

  @include respond(phone) {
    line-height: 2.9rem;
  }

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}