.u-center-text { text-align: center !important; }

.u-margin-bottom-small { 
  margin-bottom: 1.4rem !important; 

  @include respond(phone) {
    margin-bottom: 1rem !important;
  }

  @include respond(sm-phone) {
    margin-bottom: .7rem !important;
  }
}

.u-margin-bottom-medium { 
  margin-bottom: 5rem !important;
  
  @include respond(tab-port) {
    margin-bottom: 3rem !important;
  }
}

.u-margin-bottom-big { 
  margin-bottom: 8.5rem !important; 

  @include respond(tab-port) {
    margin-bottom: 5rem !important;
  }
}

.u-margin-top-big { margin-top: 8rem !important; }

.u-margin-top-medium { 
  margin-top: 4rem !important; 

  @include respond(tab-land) {
    margin-top: 3rem !important;
  }

  @include respond(phone) {
    margin-top: 2.4rem !important;
  }
}

.u-margin-top-small { 
  margin-top: 2.5rem !important; 

  @include respond(tab-land) {
    margin-top: 2rem !important;
  }

  @include respond(phone) {
    margin-top: 1.5rem !important;
  }
}

.u-margin-top-huge { 
  margin-top: 10rem !important; 

  @include respond(phone) {
    margin-top: 6.5rem !important;
  }
}