// ======== COLORS

$color-primary: #142CD6;
$color-primary-bg-light: #eceefd;
$color-primary-medium: #d5dafc;
$color-primary-dark: #000000;
  
$color-secondary: #ed0f69; 
$color-secondary-bg-light: #FDDCE9;

// Color pairs
$c-pair-1: #5C9AD9;
$c-pair-1-light: #e3f7ff;

$c-pair-2: #f3726f;
$c-pair-2-light: #ffeae2;

$c-pair-3: #f7b337;
$c-pair-3-light: #fffad1;

$c-pair-4: #3cae6c;
$c-pair-4-light: #ddffeb;

// colors for text
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #E8E8E8;

$color-grey-dark: #C9C9C9;
$color-grey-dark-2: #7b7b7b;

$db-para: #585858;

$color-white: #fff;
$color-black: $color-primary-dark;


// ========== FONT size

$d-font-size: 1.6rem;

// ========== FONT Family

// for heading font
$font-main: Poppins;

