/* -------------- Section contact page top part -------------- */

.section-contact_top {
  padding-top: 0;
  padding-bottom: 7rem;

  @include respond(tab-land) {
    padding-bottom: 5rem;
  }

  @include respond(phone) {
    padding-bottom: 2.5rem;
  }

  &-big_text-box {
    @include flex-row_center;
    margin-top: -14px;

    p {
      font-family: $heading-bold;
      font-size: 15rem;
      color: rgba($color-primary-light, 0.6);
      letter-spacing: -5px;
      -webkit-user-select: none;

      @include respond(big-desktop) {
        font-size: 12.5rem;
      }

      @include respond(tab-land) {
        font-size: 12.5rem;
        letter-spacing: -2px;
      }

      @include respond(tab-port) {
        font-size: 11.5rem;
        letter-spacing: -3px;
      }

      @include respond(phone) {
        font-size: 5.5rem;
        letter-spacing: -2px;
        margin-top: 1.5rem;
      }
    }
  }

  /* -------------- Section contact page heading box -------------- */
  .heading-box {
    margin-top: -6rem !important;

    @include respond(phone) {
      margin-top: 1rem !important;
    }
  }

  /* -------------- Contact banner -------------- */

  .contact-page_banner-part {
    width: 100%;
    height: auto;
    margin-top: 4rem;

    img {
      width: 100%;
      height: 100%;
      -webkit-user-drag: none;
      -webkit-user-select: none;
    }
  }
}

/* -------------- Contact form -------------- */

.section__contact-form {
  padding-top: 0;
  margin-top: -20px;
}

/* -------------- Section contact page social profile part -------------- */

.section-contact_social {
  padding-bottom: 18rem;

  @include respond(tab-land) {
    padding-bottom: 13rem;
  }

  @include respond(tab-port) {
    padding-bottom: 11rem;
  }

  @include respond(phone) {
    padding-bottom: 13rem;
  }

  .social-main {
    width: 100%;
    @include flex-row;
    justify-content: space-between;
    align-items: center;

    @include respond(phone) {
      flex-direction: column;
    }

    &_box {
      display: flex;
      width: 300px;
      margin-top: 2.5rem;
      @include flex-row_center;
      flex-wrap: wrap;

      @include respond(tab-land) {
        width: 180px;
      }

      @include respond(tab-port) {
        width: 130px;
      }

      @include respond(phone) {
        width: 100% !important;
      }

      &:nth-child(1),
      &:nth-child(3) {

        @include respond(phone) {
          display: none;
        }
      }

      &:nth-child(2) {
        display: flex;
        flex: 1;
      }

      &-icon {
        @include flex-row_center;
        margin: 2rem 8px;

        @include respond(tab-port) {
          margin: 2rem 5px;
        }

        @include respond(phone) {
          margin-top: 1rem 8px 2rem 8px;
        }

        &_link {
          text-decoration: none;
          padding: 10px;
          border-radius: 5px;
          font-size: 2.7rem;
          color: $color-grey-dark-2;
          transition: all .3s;

          display: flex;
          align-items: center;

          @include respond(tab-port) {
            font-size: 2.5rem;
          }

          @include respond(phone) {
            font-size: 2.4rem;
          }

          &:hover {
            background-color: $color-primary;
            text-decoration: none;
            color: $color-white;
          }
        }
      }
    }
  }
}