/* =============================================== */
/* =================== Section work =================== */
/* =============================================== */

.section-work {
  padding-top: 0;

  &_big-text_box {
    @include flex-row_center;
    margin-top: -14px;

    p {
      font-family: $heading-bold;
      font-size: 15rem;
      color: rgba($color-primary-light, 0.6);
      letter-spacing: -5px;
      -webkit-user-select: none;

      @include respond(big-desktop) {
        font-size: 12.5rem;
      }

      @include respond(tab-land) {
        font-size: 12.5rem;
        letter-spacing: -2px;
      }

      @include respond(tab-port) {
        font-size: 11.5rem;
        letter-spacing: -3px;
      }

      @include respond(phone) {
        font-size: 5.5rem;
        letter-spacing: -2px;
        margin-top: 1.5rem;
      }
    }
  }
  /* -------------- Section work heading box -------------- */
  .heading-box {
    margin-top: -6rem !important;

    @include respond(phone) {
      margin-top: 1rem !important;
    }
  }

  /* -------------- Section design section box -------------- */
  .design-section {
    margin-top: 6rem;

    &_name {
      @include flex-column;
      align-items: flex-start;

      &-heading {
        font-size: 3.2rem;
        color: $color-primary-dark;
        font-family: $heading-medium;
        letter-spacing: 0;

        @include respond(tab-land) {
          font-size: 3rem;
        }

        @include respond(tab-port) {
          font-size: 3.2rem;
        }

        @include respond(phone) {
          font-size: 2.5rem;
        }
      }

      &-down_bar {
        margin-top: 8px;
        @include flex-row_center;

        @include respond(phone) {
          margin-top: 4px;
        }

        .span {
          &-one,
          &-two {
            background-color: $color-primary;
          }
            
          &-one {
            width: 52px;
            height: 4px;

            @include respond(tab-land) {
              width: 47px;
              height: 3.5px;
            }

            @include respond(tab-port) {
              width: 42px;
              height: 3px;
            }

            @include respond(phone) {
              width: 30px;
              height: 2px;
            }
          }

          &-two {
            width: 18px;
            height: 18px;
            border-radius: 50%;

            @include respond(tab-land) {
              width: 15px;
              height: 15px;
            }

            @include respond(tab-port) {
              width: 13px;
              height: 13px;
            }

            @include respond(phone) {
              width: 10px;
              height: 10px;
            }
          }
        }
      }
    }
  }


  .main-design {
    margin-top: 6rem;
    @include flex-row;

    @include respond(phone) {
      flex-direction: column;
      margin-top: 4rem;
    }

    &_left {
      width: 450px;
      height: 450px;
      box-shadow: 10px 20px 40px -8px rgba($color-primary, 0.15);
      padding: 1.2rem;
      background-color: $color-white;

      @include respond(tab-land) {
        width: 400px;
        height: 400px;
      }

      @include respond(tab-port) {
        width: 340px;
        height: 340px;
      }

      @include respond(phone) {
        width: 100%;
        height: auto;
        box-shadow: 10px 20px 40px -8px rgba($color-primary, 0);
        padding: 0;
      }

      img {
        width: auto;
        height: 100%;
        -webkit-user-drag: none;
        -webkit-user-select: none;

        @include respond(phone) {
          width: 100%;
          height: auto;
        }
      }

      &-2nd {
        order: 2;

        @include respond(phone) {
          order: 1;
          margin-top: 2.5rem;
        }
      }
    }

    &_right {
      flex: 1;
      padding: 0 8.5rem;
      align-self: stretch;

      @include flex-column;
      justify-content: center;
      align-items: flex-start;

      @include respond(tab-land) {
        padding: 0 7.6rem;
      }

      @include respond(tab-port) {
        padding: 0 5rem;
      }

      @include respond(phone) {
        align-self: flex-start;
        padding: 0 !important;
        margin-top: 4.5rem;
      }

      @include respond(phone) {
        align-self: flex-start;
        padding: 0 0 0 4rem;
      }

      &-2nd {
        order: 1;

        @include respond(phone) {
          order: 2;
        }
      }

      .design {

        &-title {
          font-family: $heading-medium;
          font-size: 2.7rem;
          color: $color-primary-medium-dark;
          letter-spacing: -0.2px;
          margin-bottom: 1.8rem;

          @include respond(tab-land) {
            font-size: 2.6rem;
          }
          
          @include respond(tab-port) {
            font-size: 2.5rem;
          }
          
          @include respond(phone) {
            font-size: 2.4rem;
          }
        }

        &-action {
          @include flex-row_center;
          margin-top: 1.5rem;

          &_social {
            @include flex-row_center;
            margin-left: 6rem;

            &-link {
              font-size: 2.1rem;
              color: $color-primary-medium-dark;
              text-decoration: none;
              transition: all .3s;

              &:nth-child(1) { margin-right: 3.8rem; }

              &:hover {
                color: $color-primary;
                text-decoration: none;
              }
            }
          }
        }
      }

      .btn-text_box {
        margin-top: 4rem;

        @include flex-row_center;

        @include respond(phone) {
          margin-top: 2rem;
        }

        .additional-info {
          font-size: 1.5rem;
          color: $color-primary;
          margin-left: 1.5rem;
        }
      }
    }
  }
}


.section-portfolio {

  .heading-box {

    .heading-time_details {
      font-family: $para-book;
      font-size: 2rem;
      color: $color-primary-dark;
      margin: 5px 0 4rem 0;

      @include respond(tab-port) {
        font-size: 1.8rem;
        margin: -5px 0 3.5rem 0;
      }

      @include respond(phone) {
        font-size: 1.7rem;
        margin: 10px 0 3.5rem 0;
      }
    }
  }
}